*{
    margin: 0;
    padding: 0;
  }
  
  .container{
    height: 700px;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    background-color:rgb(95, 122, 113);
  }
  .container h1{
text-align: center;
  }
  

  .containers .box{
    height: 180px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .container .box img{
    height: 150px;
   margin-left: 20px;
    
  }

  .container .box input{
   padding: 4px 0px;
   width: 38px;
    text-align: center;
  }